**/build/*.aux
**/build/*.glo
**/build/*.idx
**/build/*.log
**/build/*.toc
**/build/*.ist
**/build/*.acn
**/build/*.acr
**/build/*.alg
**/build/*.bbl
**/build/*.blg
**/build/*.dvi
**/build/*.glg
**/build/*.gls
**/build/*.ilg
**/build/*.ind
**/build/*.lof
**/build/*.lot
**/build/*.maf
**/build/*.mtc
**/build/*.mtc1
**/build/*.out
**/build/*.synctex.gz

!**/build/*.pdf
